<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Register</title>
</head>
<body>
    <div class="horizontal-wrapper">
        <header>
            <nav class="navbar">
                <div class="logo">
                    <a href=index.html>Memo</a>
                </div>
                <div>
                    <a href="profile.html">Profile</a>
                </div>
            </nav>
        </header>
        <!-- main article-->
        <section>
            <div class="memo-row">
                <div class="memo-block">
                    <div><a href="memo.html">test</a></div>
                </div>

                <div class="memo-block">
                    <div><a href="memo.html">test</a></div>
                </div>

                <div class="memo-block">
                    <div><a href="memo.html">looooooooooooooooooooooooooooooooooooooooooooooooong</a></div>
                </div>


                <div class="memo-block">
                    <div><a href="memo.html">test</a></div>
                </div>
                <div class="memo-block">
                    <div><a href="memo.html">test</a></div>
                </div>
                <div class="memo-block">
                    <div><a href="memo.html">test</a></div>
                </div>
                <div class="memo-block">
                    <div><a href="memo.html">test</a></div>
                </div>

            </div>
        </section>


    </div>
    <footer class="fixed-footer">
        <span>2022 MemoCorp®</span>
    </footer>
</body>
</html>