<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Register</title>
</head>
<body>
    <div class="horizontal-wrapper">
        <header>
            <nav class="navbar">
                <div class="logo">
                    <a href="index.html">Memo</a>
                </div>
                <div>
                    <a href="profile.html">Profile</a>
                </div>
                <div>
                    <a href="memo.html">←Back</a>
                </div>
            </nav>
        </header>
        <!-- main article-->
        <section>
            <div class="colbox">
                <h2>Invite user</h2>
                <form class="input-block">
                    <input class="input" type="text" name="username" placeholder="Username" required>
                    <br>
                    <br>
                    <input class="submit-btn" type="submit" value="Invite">
                </form>
                <h2>Remove user</h2>
                <div class="colbox">
                    <select>
                        <option>user1</option>
                        <option>user2</option>
                    </select>
                    <input class="submit-btn-critical" type="submit" value="Confirm">
                </div>
                <h2>Redacted log</h2>
                <div class="colbox">
                    <div>user1 <time>14:00</time></div>
                </div>
            </div>
        </section>


    </div>
    <footer class="fixed-footer">
        <span>2022 MemoCorp®</span>
    </footer>
</body>
</html>